.eom-pagination-container {
    display: flex;
    list-style-type: none;

    .eom-pagination-item {
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: 4px;
        line-height: 1.43;
        font-size: 13px;
        min-width: 32px;

        &.dots {
            pointer-events: none;

            &:hover {
                cursor: default;
            }
        }

        &:hover {
            filter: brightness(0.90);
            cursor: pointer;
        }

        &.selected {
            filter: brightness(0.70);
        }

        &.disabled {
            pointer-events: none;
            cursor: not-allowed !important;
        }
    }
}