$color-lily: rgb(102, 103, 138);
$color-dark-grey: #333;
$color-light-grey: rgb(212, 212, 212);
$color-dark-blue: darkblue;
$color-white: white;
$color-black: black;
$color-navy: navy;
$color-light-blue: rgb(247, 253, 255);
$color-red: #ff4d4d;