.eom-input {
    width: 100%;
    margin-bottom: 1rem;

    &_label {
        display: block;
        margin-bottom: 0.25rem;
        font-weight: 500;

        &-required {
            color: red;
        }
    }

    &_input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
    }
}